<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Essence of the Soul</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    
<ul>
  
  <div class="hero-image">
    <div class="hero-text">
      <h1>Essence of the Soul</h1>
      <a href="/landing/">The Journey Begins...</a>
    </ul>
        
      </div>
    </div>
    </body>
    </html>