<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Ausome Adventure</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    
    #######################
    <div class="header">
        <h1>Our Ausome Adventure</h1>
        <a href="/blog/">Back to HomePage</a>
        <a href=""></a>
    </div>
    </body>
    </html>