<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Blog Post</title>
</head>
<body>
  <h1>Create New Blog Post</h1>
  <form action='/blog' method='POST'>
    <label for='title'>Title</label>
    <input name='title' type='text'/>
    <label for='body'>Body</label>
    <textarea name='body'></textarea>
    <input type='submit' />
    <a href='/blog'>Back to Blog</a>
  </form>
</body>
</html>