<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Blog Post</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <a href='/blog'>Home</a>
  <a href='/blog'>About</a>
  <a href='/blog'>Contact</a>
  <a href='/blog'>Login</a>
  <h1> <strong>Welcome</strong></h1>
  <h3>In the Rig Veda of the Hindu texts, is a saying </h3> 
  <p class = "hindu" style = "color:goldenrod" ><style>
    @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
    </style> "There is one reality, the wise call it by many names; there is one truth, reached by many paths".</p>
    <h3>
    This is the inspiration for Essence of the Soul. 
    <br>
    <br><br>
  </h3>

  <!-- This entire section will be reformatted into comments section -->
  <!-- <form action='/blog' method='POST'>
    <label for='title'>Title</label>
    <input name='title' type='text'/>
    <label for='body'>Body</label>
    <textarea name='body'></textarea>
    <input type='submit' />
  </form> -->
  <a href='/blog'>Religion</a>
  <br>
  <br>
  <a href='/blog'>Spirituality</a>
  <br>
  <br>
  <a href='/blog'>Science</a>
  <br>
  <br>
  <a href='/blog'>Psychedelics</a>
  <br>
  <br>
  <a href='/blog'>Ancient Astronauts</a>
  <br><br>
  
  <!-- move this to anohter page. Relabel "back to Home" bring client back to main blog page --> 
    <a href='/blog'>Back to blog</a>
  
</body>
</html>